<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About page</title>
  </head>
  <body>
    {{>header}}
    <h1>About your husband</h1>
    <h2>Name: {{name}}</h2>
    <h2>Birth: {{birth}}</h2>
    <p>{{sayFuckOff}}</p>
  </body>
</html>
